@font-face {
	font-family: 'PFDinTextCondPro-Medium';
	font-display: swap;
	src: url("./fonts/PFDinTextCondPro-Medium.ttf") format('truetype'), url("./fonts/PFDinTextCondPro-Medium.woff") format('woff'), url("./fonts/PFDinTextCondPro-Medium.woff") format('woff2');
}
